.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.openHours article {
  display: flex;
}

.openHours article {
  display: flex;
}

.dayBtns button:focus {
  background-color: #61dafb;
}

.dayBtnDefault {
  background-color: #61dafb;
}

.djOpenImg {
  display: flex;
  justify-content: space-around;
}

.imgPageImg {
  width: 30vh;
  height: 30vh;
}

.inputEmpty {
  background-color: rgb(228, 118, 118);
}

.newAccModal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #000000ba;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrongPsw {
  background-color: red;
}